.Naranja {
  background-color: var(--bright-orange) #f26002;
}
.Blanco {
  background-color: var(--white) #ffffff;
}
.Azul-claro {
  background-color: var(--lightblue) #8ccbea;
}
.Azul {
  background-color: var(--cerulean) #0271bc;
}
.Azul-oscuro {
  background-color: var(--dark-grey-blue) #304268;
}
