<small>&copy;2017</small>
<small
  >We
  <img src="../images/corazon_naranja.png" alt="corazon_naranja" />
  components
</small>
<ul>
  <li>
    <a class="Link" href="https://adalab.es/" target="_blank">Articles</a>
  </li>
  <li><a class="Link" href="https://adalab.es/" target="_blank">Events</a></li>
  <li><a class="Link" href="https://adalab.es/" target="_blank">Reasons</a></li>
  <li><a class="Link" href="https://adalab.es/" target="_blank">Tips</a></li>
</ul>
<ul>
  <li><a class="Link" href="https://adalab.es/" target="_blank">Twitter</a></li>
  <li>
    <a class="Link" href="https://adalab.es/" target="_blank">Instagram</a>
  </li>
  <li>
    <a class="Link" href="https://adalab.es/" target="_blank"
      >Mastodon.Social</a
    >
  </li>
</ul>
