<div class="Footer-arrow">
  <a class="Link" href="#Header"
    ><img src="./assets/images/ico-arrow.png" alt="arrow-up"
  /></a>
</div>
<div class="Footer-list">
  <ul class="Footer-list1">
    <li>
      <a class="Link" href="https://adalab.es/" target="_blank" title="Articles"
        >Articles</a
      >
    </li>
    <li>
      <a class="Link" href="https://adalab.es/" target="_blank" title="Events"
        >Events</a
      >
    </li>
    <li>
      <a class="Link" href="https://adalab.es/" target="_blank" title="Reasons"
        >Reasons</a
      >
    </li>
    <li>
      <a class="Link" href="https://adalab.es/" target="_blank" title="Tips"
        >Tips</a
      >
    </li>
  </ul>
  <ul class="Footer-list2">
    <li>
      <a class="Link" href="https://adalab.es/" target="_blank" title="Twitter"
        >Twitter</a
      >
    </li>
    <li>
      <a
        class="Link"
        href="https://adalab.es/"
        target="_blank"
        title="Instagram"
        >Instagram</a
      >
    </li>
    <li>
      <a
        class="Link"
        href="https://adalab.es/"
        target="_blank"
        title="Mastodon-social"
        >Mastodon.Social</a
      >
    </li>
  </ul>
  <small class="Footer-small">
    &copy;2017<br />
    we <span class="Footer-small--heart">❤︎</span> components
  </small>
</div>
