<div class="Header-menu">
  <a class="Link" href="https://adalab.es/" target="_blank">
    <img
      class="Header-menu--icon"
      src="./assets/images/ico-menu.png"
      alt="Icono menú"
    />
  </a>
</div>
<div class="Header-text">
  <p class="Header-text--anonymous">Anonymous proxy</p>
  <p class="Header-text--inhac">In hac habitasse platea dictumst.</p>
</div>
<div class="Header-arrow">
  <a class="Link" href="#reasons"
    ><img src="./assets/images/ico-scroll-down.png" alt="arrow-down"
  /></a>
</div>
