// fonts
$font-main: "RobotoSlab", sans-serif;

// colors
$color-white: #f3f4f5;
$color-secondary: #999;
$color-orange: #f26002;
$color-dark-grey-blue: #304268;
$color-cerulean: #0271bc;
$color-iceblue: #eff9ff;
$backgroun-color-white: #ffffff;
$color-black: #000000;
$font-color: #4a4a4a;
