.Footer {
  background-color: $color-dark-grey-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.88;

  &-arrow {
    background-color: $background-color-white;
    border-radius: $radius;
    padding: 9px 8px;
    height: 45px;
    width: 45px;
    transform: translate(0, -45%);
  }

  &-list1,
  &-list2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  &-list1 {
    padding-top: 43px;
  }
  &-small {
    color: $color-white;
    &--heart {
      color: $color-orange;
    }
  }
}

.Link {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
}

//-----DESKTOP @MEDIA-----//

@media all and (min-width: 768px) {
  .Footer {
    flex-direction: row;
    justify-content: space-around;
    &-list1,
    &-list2 {
      align-items: baseline;
      order: 3;
    }
    &-arrow {
      transform: translate(325px, -95px);
    }
  }
}

//-----DESKTOP @MEDIA-----//
@media all and (min-width: 1200px) {
  .Footer-arrow {
    transform: translate(550px, -95px);
  }
}
