.Header {
  background-image: url("../../assets/images/cover.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Header-menu {
  height: 44px;
  width: 44px;
  background-color: $color-cerulean;
  position: fixed;
  top: 0;
  left: 0;
}
.Header-menu--icon {
  padding: 16px 14px 15px 14px;
}
.Header-text {
  color: $color-white;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  &--anonymous {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &--inhac {
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 30px;
  }
}

.Header-arrow {
  padding: 15px;
  background-color: $background-color-white;
  border-radius: $radius;
  margin-top: 45px;
  margin-bottom: 53px;
}

//-----TABLET @MEDIA-----//
@media all and (min-width: 768px) {
  .Header-text {
    &--anonymous {
      font-size: 80px;
    }
    &--inhac {
      font-size: 24px;
    }
  }
}

//-----DESKTOP @MEDIA-----//
@media all and (min-width: 1200px) {
  .Header-text {
    &--anonymous {
      font-size: 100px;
    }
  }
}
