.Main {
  background-color: $background-color-white;
  &-text {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &-small {
    color: $color-iceblue;
    font-size: 14px;
    text-transform: capitalize;
  }
  &-donec {
    color: $font-color;
    font-size: 18px;
    padding-top: 15px;
    text-align: justify;
  }
  &-text--go {
    width: 76px;
    height: 45px;
    padding: 12px 24px;
    color: $color-orange;
    border: $color-orange solid 2px;
    background-color: $background-color-white;
    border-radius: $radius;
    margin: 15px;
  }
  &-text--title {
    text-transform: capitalize;
    font-size: 24px;
  }
  &-text--title2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 45px;
  }
  &-text--second {
    padding-bottom: 60px;
    background-color: $color-iceblue;
    &_items {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 8rem);
      text-align: center;
      align-items: center;
      line-height: 30px;
    }
    &_item1 {
      grid-column: span 2;
    }
    &_item2 {
      grid-column: span 2;
    }
    &_item3 {
      grid-column: span 2;
    }
  }
  &-text--more {
    background-color: $color-orange;
    color: $color-white;
    border-radius: $radius;
    font-size: 20px;
    width: 184px;
    height: 45px;
    padding: 12px 30px 36px;
    text-align: center;
    transform: translate(50%, 0);
  }
}
//-----TABLET @MEDIA-----//
@media all and (min-width: 768px) {
  .Main {
    &-text {
      padding-left: 39px;
    }
    &-text--go {
      margin-left: 39px;
    }
    &-text--second {
      padding-bottom: 60px;
      background-color: $color-iceblue;
      &--title2 {
        font-size: 26px;
      }
      &_items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        padding: 40px;
      }
      &_item1 {
        grid-column: 1/2;
      }
      &_item2 {
        grid-column: 2/3;
      }
      &_item3 {
        grid-column: 3/4;
      }
    }
    &-text--more {
      background-color: $color-orange;
      color: $color-white;
      border-radius: $radius;
      font-size: 20px;
      width: 184px;
      height: 45px;
      padding: 12px 30px 36px;
      text-align: center;
      transform: translate(117%, 0);
    }
  }
}
//-----DESKTOP @MEDIA -----//
.Main {
  &-text {
    padding-left: 39px;
  }
  &-text--go {
    margin-left: 39px;
  }
  &-text--second {
    padding-bottom: 60px;
    background-color: $color-iceblue;
    &--title2 {
      font-size: 26px;
    }
    &_items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      padding: 40px;
    }
    &_item1 {
      grid-column: 1/2;
    }
    &_item2 {
      grid-column: 2/3;
    }
    &_item3 {
      grid-column: 3/4;
    }
  }
  &-text--more {
    background-color: $color-orange;
    color: $color-white;
    border-radius: $radius;
    font-size: 20px;
    width: 184px;
    height: 45px;
    padding: 12px 30px 36px;
    text-align: center;
    transform: translate(117%, 0);
  }
}
